.fixed{
    position: fixed;
    top: 0
}

.wrapper{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
}

.page {
    background-color: white;
    font-size: 14px;
    border: solid 1px #7b368b;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 10px;
}

.page:hover{
    background-color: #7b368b;
    color: white;
    box-shadow: 0 0 5px #7b368b;
}

.page:focus{
    background-color: #7b368b;
    color: white;
    box-shadow: 0 0 10px #7b368b;
}
